<div class="min-w-full flex flex-col items-center">
  <div id="filters_slideover" data-controller="slideover">
    <style>
      dialog.slideover[open] {
        animation: slide-in-from-left 300ms forwards ease-in-out;
      }

      dialog.slideover[closing] {
        pointer-events: none;
        animation: slide-out-to-left 300ms forwards ease-in-out;
      }

      @keyframes slide-in-from-left{
        from {
          transform: translateX(-100%);
        }
      }

      @keyframes slide-out-to-left{
        to {
          transform: translateX(-100%);
        }
      }
    </style>
    <dialog data-slideover-target="dialog" class="slideover h-full max-h-full m-0 w-96 p-8 backdrop:bg-black/80">
      <%= form_with url: image_cores_path, method: :get do %>
        <div class="flex flex-col">
          <div class="flex flex-col">
            <%= label_tag :search, ' tags', class: "my-auto mr-4" %>
            <%= render 'tag_toggle' %>
          </div>
          <div class="flex flex-col">
            <%= label_tag :search, ' paths', class: "my-auto mr-4" %>
            <%= render 'path_toggle' %>
          </div>
          <div class="flex flex-col content-center justify-center text-center mt-5 border rounded-md p-3 bg-white shadow-md">
            <%= label_tag :has_embeddings, 'has embeddings?', class: "ms-3" %>
            <div class="flex flex-row content-center justify-center">
              <%= check_box_tag :has_embeddings, checked: true, id: "has_embeddings_checkbox", class:"w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
            </div>
          </div>
          <%= submit_tag 'Apply filters', class: "bg-emerald-400 hover hover:bg-emerald-300 border border-black rounded-2xl ml-5 mt-8 my-5 px-2 cursor-pointer" %>
          <%= button_tag "Close without filtering", data: { action: 'slideover#close' }, type: "button", class: "bg-blue-500 hover hover:bg-blue-400 border border-black rounded-2xl ml-5 mt-8 px-2 cursor-pointer"%>
        </div>
      <% end %>
    </dialog>
    <button id="open_filters_button" data-action="slideover#open" class="bg-blue-600 hover hover:bg-blue-400 border border-black rounded-2xl ml-5 px-3 py-2 cursor-pointer">Open filters</button>
  </div>
</div>