<div class="flex flex-col content-center items-center justify-center w-auto h-full">
  <%= render "filters" %>
  <div class="flex flex-col content-center items-center justify-center w-full h-full" id="index_image_cores">
    <% @image_cores.each do |image_core| %>
      <%= link_to image_core do %>
        <div id="image_core_<%= image_core.id %>" class="transition-transform duration-300 transform hover:scale-105 dark:text-white bg-slate-200 dark:bg-slate-700 p-2 rounded-2xl w-auto flex m-5">
          <%= render partial: "image_core", locals: {image_core: image_core} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="index_image_cores_pagination" class="pagy-nav flex pb-5 justify-center center-content bg-white dark:bg-slate-800">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>