<%= form_with(model: image_core, class: "contents") do |form| %>
  <div class="flex flex-col">
    <div class="flex flex-row space-x-10 mb-5 mt-5">
      <% absolute_path, image_name = absolute_image_path(image_core) %>
      <%= image_tag(absolute_path, size: "300", alt: image_name) %>
      <div class="flex flex-col my-auto">
        <h3> Image description </h3>
        <%= form.text_area(:description, rows: 4, cols: 50, placeholder: image_core.description, class:"text-black") %>
      </div>
    </div>
  </div>
  <% tag_names = TagName.all.map {|item| item.name.strip}.join(",") %>
  <% image_tags = image_core.image_tags.map {|tag| tag.tag_name}.map {|tag_name| tag_name.name}.join(", ") %>
  <%= form.fields_for :image_tags, @image_core.image_tags.first do |tag_fields| %>
    <div class="relative" data-controller="multi-select" data-action="click->multi-select#closeDropdown">
      <%= tag_fields.text_field :name,
        id: 'select', 
        class: 'flex items-center justify-between w-64 p-2 text-black bg-white border border-gray-300 rounded-md shadow cursor-pointer', 
        placeholder: 'Select options', 
        data: {
          multi_select_target: 'select',
          options: tag_names,
          action: 'click->multi-select#toggleDropdown'
        },
        value: image_tags || "Select tags"
      %>
      <div 
            data-multi-select-target="dropdown" 
            class="absolute left-0 z-10 hidden w-64 mt-1 bg-white border border-gray-300 rounded-md shadow-lg text-black">
        <div class="p-2" data-multi-select-target="checkboxContainer"></div>
      </div>
    </div>
  <% end %>
  <div class="mx-auto w-full flex space-x-8 items-center">
    <div class="inline-block ml-2">
      <%= form.submit class: "submit-button" %>
    </div>
    <%= link_to "Back", @image_core, class: "show-button" %>
    <%= link_to "Back to image cores", image_cores_path, class: "back-button" %>
  </div>
<%end%>