<%= form_with(model: image_core, class: "contents") do |form| %>
  <div class="flex flex-col">
    <div class="flex flex-row space-x-10 mb-5 mt-5">
      <% absolute_path, image_name = absolute_image_path(image_core) %>
      <%= image_tag(absolute_path, size: "300", alt: image_name) %>
      <div class="flex flex-col my-auto">
        <h3> Image description </h3>
        <%= form.text_area(:description, rows: 4, cols: 50, placeholder: image_core.description, class:"text-black") %>
      </div>
      <div class="flex flex-col my-auto">
        <h3> Image tags </h3>
        <% tag_names = TagName.all.map {|item| item.name.strip} %>
        <% tag_colors = TagName.all.map {|item| item.color.strip}.join(",") %>
        <% image_tags = image_core.image_tags&.map { |tag| tag.tag_name&.name }&.compact&.join(", ") %>
        <%= form.fields_for :image_tags, @image_core.image_tags.first do |tag_fields| %>
          <div data-controller="multi-select" class="relative">
            <div
    data-action="click->multi-select#toggle"
              class="border rounded-md p-3 bg-white shadow-md cursor-pointer"
              >
              <span data-multi-select-target="selectedItems" class="text-gray-600">Select options</span>
            </div>
            <div
    data-multi-select-target="options"
    class="absolute left-0 right-0 mt-1 hidden bg-white border rounded-md shadow-lg z-10"
  >
              <% tag_names.each do |tag|  %>
                <div class="p-2 flex items-center">
                  <%= tag_fields.text_field :name,
                        class: 'mr-2 pr-4', 
                        data: {
                          action: "change->multi-select#updateSelection"
                        },
                        type: "checkbox",
                        value: tag.to_s.downcase
                  %>
                  <%= tag_fields.label :tag, tag.to_s, class: "text-black"%>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto w-full flex space-x-8 items-center">
      <div class="inline-block ml-2">
        <%= form.submit class: "submit-button" %>
      </div>
      <%= link_to "Back", @image_core, class: "show-button" %>
      <%= link_to "Back to image cores", image_cores_path, class: "back-button" %>
    </div>
  </div>
<%end%>