<div class="w-full">
  <% content_for :title, "Image cores" %>
  <div id="image_cores" class="min-w-full flex flex-col items-center">
    <%= form_with url: image_cores_path, method: :get do %>
      <div class="flex flex-row">
        <div class="flex flex-col">
          <%= label_tag :search, ' tags', class: "my-auto mr-4" %>
          <%= render 'tag_toggle' %>
        </div>
        <div class="flex flex-col">
          <%= label_tag :search, ' paths', class: "my-auto mr-4" %>
          <%= render 'path_toggle' %>
        </div>
        <div class="flex flex-col">
          <%= check_box_tag :has_embeddings %>
          <%= label_tag :has_embeddings, 'has embeddings?', class: "my-auto mr-4" %>
        </div>
        <%= submit_tag 'Filter', class: "bg-emerald-400 hover hover:bg-emerald-300 border border-black rounded-2xl ml-5 mt-8 my-5 px-2 cursor-pointer" %>
      </div>
    </div>
  <% end %>
  <% @image_cores.each do |image_core| %>
    <div class="text-black dark:text-white bg-slate-200 dark:bg-slate-700 p-2 rounded-2xl w-auto flex flex-row m-5">
      <%= render partial: "image_core", locals: {image_core: image_core} %>
      <%= link_to "Show image data", image_core, class: "show-button w-auto h-1/5 my-auto ml-5" %>
    </div>
  <% end %>
  <div class="pagy-nav flex my-5 mb-5 pb-5 justify-center center-content">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
</div>
