<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% status = @image_core.status %>
    <%= form_with(url: generate_image_core_path(@image_core.id), local: true) do |form| %>
      <% form.text_field :status, status: status %>
      <% form.submit :generate, class: "bg-blue-500 w-1/4 h-1/4"%>
    <% end %>
    <%= render @image_core %>
    <%= link_to "Edit this image core", edit_image_core_path(@image_core), class: "edit-button" %>
    <%= link_to "Back to image cores", image_cores_path, class: "back-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this image core", @image_core, method: :delete, class: "delete-button" %>
    </div>
  </div>
</div>
