<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Meme search" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      textarea {
      height: 7rem;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      font-size: 16px;
      resize: none;
      }
    </style>
  </head>
  <body class="bg-white dark:bg-slate-800 text-black dark:text-white">
    <%= render 'shared/nav' %>
    <div class="pt-10 h-full">
      <% flash.each do |key, message| %>
        <%= render partial: "shared/notifications", locals: {key: key, message: message} %>
      <% end %>
      <main class="container mx-auto px-5 flex flex-col content-center items-center justify-center h-auto">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
