<nav class="relative pt-6 pb-12 bg-gray-300 dark:bg-slate-700" id="navbar">
  <div class="flex flex-row text-slate-800 dark:text-white">
    <%= link_to 'MemeSearch', root_path, class: "btn btn-ghost text-xl left-4 top-5 absolute text-slate-800 dark:text-white" %>
    <ul class="flex flex-row space-x-10 items-center justify-start px-1 inset-x-44 w-3/4 absolute" id="navigation">
      <li>
        <%= link_to 'All memes', root_path, id: "all_memes", class: current_page?(root_path) ? "link link-hover text-black bg-fuchsia-300 px-2 py-3 rounded-xl" : "link link-hover hover:text-black hover:bg-indigo-300 hover:px-2 hover:py-3 hover:rounded-xl" %>
      </li>
      <li>
        <%= link_to 'Search memes', search_image_cores_path, id:"search_memes", class: current_page?(search_image_cores_path) ? "link link-hover text-black bg-fuchsia-300 px-2 py-3 rounded-xl" : "link link-hover hover:text-black hover:bg-indigo-300 hover:px-2 hover:py-3 hover:rounded-xl" %>
      </li>
      <li
    data-controller="dropdown"
    data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
        class="inline-block relative", id="settings">
        <button data-action="dropdown#toggle:stop" class="link link-hover hover:font-bold hover:text-indigo-500">
          Settings
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline-block fill-current h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
        </button>
        <div data-dropdown-target="menu" class="hidden absolute top-4 right-0 z-10 mt-5 flex w-screen max-w-max">
          <div class="text-sm bg-white shadow-lg rounded border overflow-hidden w-32">
            <a data-dropdown-target="menuItem" href="<%= settings_image_paths_path %>" class='no-underline block pl-4 py-2 text-gray-900 bg-white hover:bg-gray-100 whitespace-nowrap focus:bg-gray-100 hover hover:text-indigo-500', id="dropdown_paths">Paths</a>
            <a data-dropdown-target="menuItem" href="<%= settings_tag_names_path %>" class='no-underline block pl-4 py-2 text-gray-900 bg-white hover:bg-gray-100 whitespace-nowrap focus:bg-gray-100 hover:text-indigo-500', id="dropdown_tags">Tags</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>