<div class="flex flex-col items-center justify-center mx-auto">
  <div>
    <h1 class="text-2xl text-center pb-10 text-slate-800 dark:text-slate-200">
      Search
    </h1>
  </div>
  <div class="flex flex-row space-x-5">
    <%= form_with url: search_items_image_cores_path, local: true, method: :post, data: {controller: "debounce", debounce_target: "form"} do |form| %>
      <div class="flex flex-row">
        <%= form.hidden_field :checkbox_value, value: '0', id: 'checkbox_value' %>
        <%= form.search_field :query, data: {action: "input->debounce#search"}, placeholder: 'search images', class: "search-input-field mr-5", id: "search-box" %>
        <%= form.hidden_field :source, value: 'form' %>
        <%= render 'tag_toggle' %>
      </div>
    <% end %>
    <label class="inline-flex items-center me-5 cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" id="search-toggle-checkbox" onchange="updateText()">
      <div id="search-toggle-div" class="relative w-14 h-7 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 ring ring-purple-500 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
      <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300" id="search-toggle-text">keyword</span>
    </label>
  </div>
  <div id="search_results" class="flex-col gap-x-5 gap-y-10">
    <%= render "image_cores/no_search" %>
  </div>
</div>
<script>
  function updateText() {
      const checkbox = document.getElementById('search-toggle-checkbox');
      const text = document.getElementById('search-toggle-text');
      const hiddenField = document.getElementById('checkbox_value');
      hiddenField.value = checkbox.checked ? '1' : '0';
      text.textContent = checkbox.checked ? 'vector' : 'keyword';
  }
</script>